<!DOCTYPE html>
<html>
<head>


</head>
<body class="body">
    <div data-collapse="medium" data-animation="default" data-duration="400" class="nav-bar w-nav">
        <div class="wrapper navbar-2 w-container">
            <div class="div-block-8"><a href="#" class="nav-logo-2 w-inline-block"><img src="https://portalvhds4prl9ymlwxnt8.blob.core.windows.net/new/hb_logo.png" width="160" alt=""></a></div>

            <div class="menu-button-2 w-nav-button">
                <div class="burger-icon w-icon-nav-menu"></div>
            </div>
        </div>
    </div>
    <div class="section full-screen background-image-side">
        <div class="wrapper">
            <div class="columns column w-row">
                <div class="column herocontent w-col w-col-6">

                    <h1 class="heading">The Future of Corporate Travel is here.</h1>
                    <p class="short-paragraph">Hummingbird delivers compliance solutions using AI to corporate travel management, freeing you up to do the work that only you can.</p>
                    <div class="value-proposition-container">
                        <div class="value-proposition-buttons"><a href="https://www.staysimplyfied.com" target="_blank" class="button2 margin-left w-button">Self Booking Tool</a><a href="https://hummingbirdindia.com" target="_blank" class="button2 ghost hero w-button">LEARN MORE</a></div>
                    </div>
                </div>
                <div class="w-col w-col-6">
                    <img src="https://portalvhds4prl9ymlwxnt8.blob.core.windows.net/new/hero2.png" width="549" srcset="https://portalvhds4prl9ymlwxnt8.blob.core.windows.net/new/hero2-p-500.png 500w, https://portalvhds4prl9ymlwxnt8.blob.core.windows.net/new/hero2.png 800w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, 45vw" alt="" class="image">
                </div>
            </div>
        </div>
    </div>

</body>
</html>